[core]
	excludesfile = ~/.gitignore
	attributesFile = ~/.gitattributes
	pager = less -X -F
[alias]
	l = log --graph --oneline --decorate
	ll = log --stat --decorate --source -p
[color]
	ui = auto
[include]
	path = ~/.gitconfig.local
